nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b3663;
  padding: 0px 60px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.logo img {
  width: 100px;
  height: 100%;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 30px; /* the height of the main nav */
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.2s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #628396;
}
#navbar li ul {
  display: none;

  position: absolute;
  top: 30px; /* the height of the main nav */
}
#navbar li:hover > ul,
#navbar li ul:hover {
  display: block;
  position: absolute;
  background-color: #1b3663;
  padding: 5px;
  z-index: 5;
}
#navbar li ul {
  list-style-type: none;
  margin: 0;
}
#navbar ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}
#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #628396;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
